.foot{
	width: 100%;
	height: 75px;
	background-color: #424949;
	color: white;
	text-align: center;
}

.footText {
	font-family: 'Poiret One', cursive;
	font-weight: bold;
	text-align: center;
	padding: 20px 0px 10px 0px;
	font-size: 25px;
}