.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

.jumbo {
	width: 100%;
	max-height: 924px;
	background-color: #424949;
	border-radius: 0;
	border: none;
}

.contact1{
	color: #fff;
}

.jtext{
	color: #000;
}

.beach {
	width: 100%;
}

.pfolio {
 	margin: 0 auto;
 	text-align: center;
  	background: #ccc;
	height: 100%;
	justify-content: center;
}

.pject{
	margin: 0 auto;
	padding-top: 20px;
}

.flex-container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 10px;
  margin-bottom: 20px;
}

.sq{
	margin: 0 auto;
	margin: 15px;
	display: flex;
	max-width: 450px;
	max-height: 250px;
	position: relative;
	font-family: 'Poiret One', cursive;
}

.card-body {
	padding: 0;
}

.sample {
	width: flex;
	height: 100%;
	align-content: center;
	overflow: hidden;
	object-fit: cover;
}

.about{
	font-family: 'Poiret One', cursive;
	max-height: 400px;
}

.meme{
	font-family: 'Josefin Sans', sans-serif;
	text-indent: 50px;
	text-align: justify;
	padding: 5px 30px 40px 30px;
	font-weight: bold;
	max-width: 1000px;
	margin: 0 auto;
}

.about{
	margin-top:30px;
}

h3{
	font-weight: bold;
	font-family: 'Poiret One', cursive;
}

.foot{
	width: 100%;
	height: 120px;
	background-color: #424949;
	color: white;
	text-align: center;
}

.footText {
	font-family: 'Poiret One', cursive;
	font-weight: bold;
	text-align: center;
	padding: 20px 0px 0px 0px;
	font-size: 25px;
}

.smallimg {
	height: 50px;
	width: 50px;
	padding: 5px;
}



/*
font-family: 'Poiret One', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Codystar', cursive;
*/


nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.contact {
	max-height: 550px;
}

.parallax-container {
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 600px) {
  .index-banner .section {
    top: 0;
  }
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  .index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 960px) {
 
  .flex-container{
  	width: 500px;
  }
  .sq {
  	margin: 10px;
  	height: 90px;
  	width: 200px;
  }
  .sample{
	height: flex;
	width: 100%;
	}
	.card-body {
		margin: 10px;
  	height: 120px;
  	width: 350px;
	}
}

/* @media only screen and (max-width : 1088px) {
  .pfolio {
  }
  .card-body.sq {
  	margin: 10px;
  	height: 140px;
  	width: 350px;
  }
  card-img.sample{
	height: 100%;
  }
} */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
